apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: likeminds
    app.kubernetes.io/name: pingfederate
  name: likeminds-pingfederate
spec:
  ports:
  - name: https
    port: 9031
    protocol: TCP
    targetPort: 1443
  - name: pfadmin
    port: 9999
    protocol: TCP
    targetPort: 9999
  selector:
    app.kubernetes.io/instance: likeminds
    app.kubernetes.io/name: pingfederate
  type: LoadBalancer